---
import Container from './Container.astro';
import Social from './Social.astro';
---

<style>
    footer {
      margin-top: 2rem;
      padding: 1rem 0;
      border-top: 1px solid #dadada;
    }
    .footer-container {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
</style>

<footer>
  <Container>
    <div class="footer-container">
      <Social platform="twitter" username="astrodobuild" />
      <Social platform="facebook" username="Conrado Pardo" />
      <Social platform="instagram" username="conrado_pardo" />
    </div>
  </Container>
</footer>